body {
  background-color: #36366d;
  font-family: 'Quicksand';
  margin: 0rem;
  color: white;

  display: flex;
  align-items: center;
  flex-direction: column;

  header {
    height: 3.2rem;
    width: 100%;
    background-color: #242448;
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin-bottom: 4rem;

    #titleHeader {
      margin: 0;
      margin-left: 1rem;
      font-size: 1.5rem;
    }

    #buttonsHeader {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-right: 1rem;

      .buttonHeader {
        background-color: #36366d;
        display: flex;
        justify-content: center;
        width: 4rem;
        padding: 0.5rem;
        margin-left: 1rem;
        border-radius: 0.4rem;
      }

      #deco {
        display: none;
      }
    }
  }

  #logSign {
    width: 18rem;
    height: 25rem;
    position: fixed;
    top: 5rem;
    right: -18rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #242448;
    z-index: 10;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    transition-duration: 0.5s;

    #logFormDiv, #signFormDiv {
      display: none;

      .message {
        color: red;
        font-size: 0.9rem;
      }

      form {
        display: flex;
        flex-direction: column;

        input {
          margin: 0.3rem;
          padding: 0.3rem;
          border-radius: 0.3rem;
          border-style: none;
        }
      }
    }
  }

  #content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 3rem;
    z-index: 0;

    #searchForm {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      margin-bottom: 1rem;

      #searchBar {
        padding: 0.5rem;
        background-color: #333367;
        border-radius: 2rem;
        border-style: solid;
        border-color: #242448;
        color: white;
      }

      #checkBoxDiv {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;

        #likedInput {
          margin-left: 2rem;
        }

        label {
          padding: 0.2rem;
        }
      }
    }

    #cases {
      width: 80%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;
      z-index: 2;

      .case {
        margin: 1rem;
        margin-bottom: 3rem;
        width: 20rem;
        background-color: #242448;
        border-radius: 0.5rem;

        .imgCase {
          border-radius: 0.5rem;
          width: 20rem;
          height: 11rem;
          z-index: 1;
        }

        .txtCase {
          position: absolute;
          margin-left: 0.5rem;
          margin-top: -10.5rem;
          z-index: 2;
          background-color: rgba(54, 54, 109, 0.77);
          padding: 0.5rem;
          border-radius: 1rem;
        }

        .likeCase {
          height: 2rem;
          position: absolute;
          margin-top: 0.5rem;
          margin-left: -3.5rem;
          z-index: 2;
          background-color: rgba(54, 54, 109, 0.77);
          padding: 0.3rem;
          border-radius: 1rem;
        }

        .titleCase {
          margin: 0;
          padding: 0.5rem;
        }
      }
    }

    #receipe {
      width: 65%;
      min-height: 20rem;
      background-color: #242448;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 0.5rem;

      #receipeButtons {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;

        #backButton {
          padding: 0.2rem;
          min-width: 5rem;
          max-width: 10rem;
          left: -10rem;
        }

        #likeButton {
          width: 10%;
          height: 10%;
          padding: 0.2rem;
          min-width: 5rem;
          left: -10rem;
        }
      }

      #imageOrigin {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        img {
          border-radius: 0.5rem;
          height: 20rem;
        }

        p {
          width: 90%;
          background-color: #36366d;
          padding: 0.5rem;
          border-radius: 0.5rem;
          text-align: center;
        }
      }

      #receipeStat {
        display: flex;
        min-width: 80%;
        justify-content: space-around;
        align-items: center;

        p {
          background-color: #36366d;
          border-radius: 0.5rem;
          padding: 0.5rem;
          min-width: 5rem;
          text-align: center;
        }
      }

      #receipeContent {
        width: 80%;
        padding: 2rem;

        #receipeIngredients {
          width: 40%;
          float: right;
          margin-left: 2rem;
          margin-bottom: 3rem;
          min-width: 11rem;
          background-color: #36366d;
          padding: 0.5rem;
          border-radius: 0.5rem;
          text-align: center;
        }

        #receipeInstructions {
          padding: 2rem;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  body {
    header {
      #titleHeader {
        font-size: 1.3rem;
      }

      #buttonsHeader {
        .buttonHeader {
          padding: 0.3rem;
          margin: 0.2rem;
          margin-right: 0;
        }
      }
    }

    #content {

      #checkBoxDiv {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        margin-top: 1rem;
        margin-bottom: 1rem;

        #likedInput {
          margin-left: 1rem;
        }
      }

      #cases {
        width: 100%;

        .case {
          width: 18rem;

          .imgCase {
            width: 18rem;
            height: 10rem;
          }

          .txtCase {
            margin-top: -9.5rem;
          }
        }
      }

      #receipe {
        width: 95%;

        #imageOrigin {
          img {
            height: 9rem;
          }
        }

        #receipeStat {
          p {
            padding: 0.2rem;
            font-size: 0.7rem;
            margin-left: 0.5rem;
            margin-right: 0.5rem;
          }
        }

        #receipeContent {
          #receipeIngredients {
            min-width: 15rem;
          }
        }
      }
    }
  }
}